@page "/"
@using BlazorComponent.I18n
@inject I18n I18n

<h1>@(I18n.T("Language"))</h1>

Welcome to your new app.
<MButton OnClick="SetEnlish">English</MButton>
<MButton OnClick="SetChinese">中文</MButton>
<SurveyPrompt Title="How is Blazor working for you?" />
